.header-bar {
    text-align: center;
    border-bottom: 1px solid #999999;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.header-bar a {
    font-size: 20px;
    padding: 5px;
}

.record-list {
    list-style: none;
    padding: 0px;
}

.record-list-info {
    display: inline-block;
    width: 80%;
}

.record-list-actions {
    float: right;
    width: 20%;
}

.record-list li {
    padding: 5px;
    vertical-align: middle;
    line-height: 20px;
    min-height: 50px;
    border-bottom: 1px dotted #cccccc;
}

/*li:nth-child(odd) {
    background-color: #eeeeee;
}*/

.page-actions {
    position: relative;
}

.page-action {
    margin-bottom: 5px;
}

.float-clear {
    clear: both;
}

.selected-records-entry:hover {
    background-color: #dddddd;
}

.remove-selected-records-entry-button {
    cursor: pointer;
}

#selected-records {
    height: 200px;
    padding: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    margin-bottom: 5px;
}